    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
        <link rel="stylesheet" href="/output.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap" rel="stylesheet">
    </head>
    <body class="bg-slate-500 min-h-screen flex justify-center items-center">

        <div class="container my-2 p-8 text-center backdrop-blur-lg bg-white bg-opacity-25 rounded-lg shadow hover:shadow-lg max-w-3xl overflow-hidden">

        <div class="contain">

            <center class=" font-extrabold italic text-3xl font-konit"> <h2>CIS PROJECT </h2></center>

            <p class="font-serif text-3xl text-red-500">
            
            <h3 class="text-xl  font-bold p-5 font-delius">Introduction</h3>
            
                <div class="intro text-lg font">
                    An asymmetric algorithm is a cryptographic technique that uses a pair of keys, a public key and a private key, to encrypt and decrypt data. Asymmetric algorithms use complex mathematical problems that are easy to perform in one direction but difficult to reverse, which helps ensure secure communication.
                </div>
                
            <center class="py-3"> 
                <img src="../icons/Asymmetric-Encryption.png" alt="asymmetric algorithm image " srcset="" class="w-4/5 h-4/5 rounded-lg">
            </center>

            </p>

            
        </div>

        <div class="directory flex justify-evenly w-5/6 mx-16 ">

            <button class="rounded-lg bg-slate-500 p-5 hover:bg-slate-200">
                <a href="/rsa">
                    <center>
                        <img src="../../icons/cybersecurity.png" alt="1st img" srcset="" class="w-10 h-10">
                    </center>
                    RSA
                </a>
            </button>

            <button class="rounded-lg bg-slate-500 p-5 hover:bg-slate-200">
                <a href="/dsa">
                    <center>
                        <img src="./icons/cybersecurity (1).png" alt="2nd img" srcset="" class="w-10 h-10">
                    </center>
                    DSA
                </a>
            </button>

            <button class="rounded-lg bg-slate-500 p-5 hover:bg-slate-200">
                <a href="/dh">
                    <center>
                        <img src="./icons/cybersecurity (2).png" alt="3rd img" srcset="" class="w-10 h-10">
                    </center>
                    DH
                </a>
            </button>

            <button class="rounded-lg bg-slate-500 p-5 hover:bg-slate-200">
                <a href="/ecc">
                    <center>
                        <img src="./icons/cybersecurity (3).png" alt="4th img" srcset="" class="w-10 h-10">
                    </center>
                    ECC 
                </a>
            </button>

        </div>

        </div>

    </body>
    </html>
